* {
    margin: 0;
    padding: 0;

}

h2,
p {
    font-family: "微軟正黑體";
}

/* ======================= */

/* 下拉選單區塊  */

/* ======================= */

.select_menu {
    margin: 0;
    padding: 0px;

}

.select_menu ul li {

    display: block;
    float: left;
    position: relative;
}

/* ======================= */

/* 下拉選單的高度 */

/* ======================= */

#know_select ul li ul {
    right: 0px;
}

.select_menu ul li ul {
    margin: -4px 0 0;
    display: none;
    position: absolute;
    width: 150px;
    z-index: 350;
    height: auto;
    overflow: auto;
    top: 80px;

}

.select_menu ul li ul li {
    background: rgb(255, 255, 255, .6);
}

.select_menu ul li ul li a {
    display: block;
    font-size: 12px;
    overflow: hidden;
    line-height: 29px;
    color: #555;
    margin: 0;
    padding-left: 20px;



}


/* ======================= */

/* 當選到時 */

/* ======================= */

#know_select .option_selected {
    width: 76px;
    padding-left: 0;
    margin: 0;
}


.option_selected {
    color: rgb(200, 200, 200);
    display: block;
    font-size: 12pt;
    line-height: 29px;
    position: relative;
    top: 39px;
    width: 38px;

}

.option_list li {
    float: none;
    width: 100%;
}

/* ======================= */

/* 滑入選項變色*/

/* ======================= */

.hovered_item {
    border-left: 3px solid red;
    background: rgba(223, 214, 207, .8);
    font-weight: bold;
    color: #333;
}

#banner {
    background: url(../img/food.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    max-height: 100px;
    padding: 12em 0 29em;
    position: relative;
    left: 0;
    top: 0px;
    overflow: hidden;
    color: aliceblue;
    font-family: 'Didact Gothic', sans-serif;

}

#banner #h2 {
    position: relative;
    top: 80px;
    left: 460px;
}

#banner p {
    position: relative;
    text-align: center;
    margin: auto;
    top: 70px;
    font-size: 36pt;
    letter-spacing: 7px;
    opacity: .6;
}

#logo {
    position: relative;
    top: 10px;
    float: left;
}


header {
    position: absolute;
    top: 20px;
    left: 40px;
    right: 40px;
}

header ul {
    position: relative;
    top: -30px;
    width: auto;
    float: right;
}

header ul li {
    display: inline-block;
}

header ul li a {
    color: rgb(200, 200, 200);
    font-size: 12pt;
    text-decoration: none;
    margin: 0 20px 0 0;
    letter-spacing: 3px;

}

#know {
    margin: 0;
}


#home:hover {
    color: rgb(200, 176, 161);

}

#food:hover {
    color: rgb(200, 176, 161);
}

#place:hover {
    color: rgb(200, 176, 161);
}

#shop:hover {
    color: rgb(200, 176, 161);
}

#know:hover {
    color: rgb(200, 176, 161);
}

#banner p {
    font-size: 50px;
    color: rgba(218, 216, 216, 0.623);
    top: 550px;
    left: -170px;
    position: relative;
}

article {
    background: rgb(255, 87, 87);
    border: 1px solid rgba(0, 0, 0, 0);
}

.middle_info p {
    margin: 50px 214px 0 214px;
    font-size: 14pt;
}

.main {
    background-color: rgb(255, 87, 87);
    position: relative;
    width: auto;
    max-height: 1140px;
    padding: 30px 0;
}

#havetoeat {
    height: 600px;
}

#havetoeat h2 {
    margin-bottom: 20px;
}

#havetoeat img {
    display: block;
    float: left;
    margin-bottom: 30px;
    margin-top: 20px;
    border-radius: 5px;

}

#havetoeat p {
    float: right;
    padding: 30px;
    border-radius: 5px;
    max-width: 890px;
    margin-bottom: 30px;
}

.footer {
    height: 180px;
    background: #222222;
    color: #e6dfdf;
}

.footer h3 {
    font-family: "Arial";
    font-size: 16px;
    text-align: left;
    padding-top: 40px;
}

.left h3,
.right h3 {
    height: 50px;
}

.left p {
    font-size: 14px;
    text-align: left;
    line-height: 25px;
}

.left_text {
    margin-top: 0px;
}

.left {
    float: left;
    margin-right: 300px;
    margin-left: 350px;
}

.right {
    float: left;
}

.bottom {
    font-size: 12px;
    text-align: center;
    color: #afaaaa;
    height: 20px;
    padding: 10px 0 20px 0;
    background: #222222;
}

footer img {
    margin-right: 20px;
}

#havetoeat {
    position: relative;
    padding: 0 200px;
    ;
}

#havetoeat h2 {
    background: rgb(223, 214, 207);
    position: relative;
    border-left: 10px solid rgba(200, 50, 29, 0.9);
    padding: 15px;
}
