* {
    margin: 0;
    padding: 0;
}

h2,
p {
    font-family: "微軟正黑體";
}

/* ======================= */

/* 下拉選單區塊  */

/* ======================= */

.select_menu {
    margin: 0;
    padding: 0px;

}

.select_menu ul li {

    display: block;
    float: left;
    position: relative;
}

/* ======================= */

/* 下拉選單的高度 */

/* ======================= */

#know_select ul li ul {
    right: 0px;
}

.select_menu ul li ul {
    margin: -4px 0 0;
    display: none;
    position: absolute;
    width: 150px;
    z-index: 350;
    height: auto;
    overflow: auto;
    top: 80px;

}

.select_menu ul li ul li {
    background: rgb(255, 255, 255, .6);
}

.select_menu ul li ul li a {
    display: block;
    font-size: 12px;
    overflow: hidden;
    line-height: 29px;
    color: #555;
    margin: 0;
    padding-left: 20px;



}


/* ======================= */

/* 當選到時 */

/* ======================= */

#know_select .option_selected {
    width: 76px;
    padding-left: 0;
    margin: 0;
}


.option_selected {
    color: rgb(200, 200, 200);
    display: block;
    font-size: 12pt;
    line-height: 29px;
    position: relative;
    top: 39px;
    width: 38px;

}

.option_list li {
    float: none;
    width: 100%;
}

/* ======================= */

/* 滑入選項變色*/

/* ======================= */

.hovered_item {
    border-left: 3px solid red;
    background: rgba(223, 214, 207, .8);
    font-weight: bold;
    color: #333;
}

#banner {
    background: url(../img/know_top.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    max-height: 100px;
    padding: 12em 0 29em;
    position: relative;
    left: 0;
    top: 0px;
    overflow: hidden;
    color: aliceblue;
    font-family: 'Didact Gothic', sans-serif;
}

#logo {
    position: relative;
    top: 10px;
    float: left;

}

header {
    position: absolute;
    top: 20px;
    left: 40px;
    right: 40px;
}

header ul {
    position: relative;
    width: auto;
    float: right;
    top: -30px;

}

header ul li {
    display: inline-block;
}

header ul li a {
    color: rgb(200, 200, 200);
    font-size: 12pt;
    text-decoration: none;
    margin: 0 20px 0 0;
    letter-spacing: 3px;

}

#know {
    margin: 0;
}

#home:hover {
    color: rgb(200, 176, 161);

}

#food:hover {
    color: rgb(200, 176, 161);
}

#place:hover {
    color: rgb(200, 176, 161);
}

#shop:hover {
    color: rgb(200, 176, 161);
}

#know:hover {
    color: rgb(200, 176, 161);
}


#banner p {
    font-family: 'Squada One', cursive;
    font-size: 180px;
    color: rgba(218, 216, 216, 0.523);
    top: 460px;
    left: 0px;
    position: relative;
}

article {
    /* background: rgb(175, 149, 129);*/
    background-color: rgb(223, 214, 207);
    border: 1px solid rgba(0, 0, 0, 0);
}

.middle_info p {
    font-size: "微軟正黑體";
    margin: 100px 214px;
    font-size: 15pt;
    background: rgb(148, 117, 94);
    padding: 50px 80px 50px 80px;
    color: rgb(245, 237, 237);
    box-shadow: 20px 20px rgb(97, 71, 52);
    text-align: justify;
    text-justify: inter-ideograph;
}

.main {
    background-color: rgb(223, 214, 207);
    position: relative;
    width: auto;
    max-height: 1140px;
    padding: 70px 0;
}

.info_1,
.info_2,
.info_3 {
    margin: 0 214px 65px 214px;
    border: 1px solid rgba(255, 255, 255, 0);
}

.info_1_picture,
.info_3_picture {
    float: left;
}

.info_1_context,
.info_3_context {
    position: relative;
    border: 3px dotted rgb(227, 231, 222);
    border-radius: 20px;
    background-color: rgba(255, 255, 255, 0.22);
    margin: 37px 0px 37px 442px;
    padding: 20px 50px;
    height: 215px;
    max-height: 248px;
}

.info_2_picture {
    position: absolute;
    right: 214px;
    top: 475px;
}

.info_2_context {
    position: relative;
    border: 3px dotted rgb(227, 231, 222);
    border-radius: 20px;
    background-color: rgba(255, 255, 255, 0.22);
    margin: 37px 442px 37px 0px;
    padding: 20px 50px;
    height: 215px;
    max-height: 248px;

}

.info_1 h2,
.info_2 h2,
.info_3 h2 {
    padding-top: 5px;
    font-size: 16px;

}

.info_1 p,
.info_2 p,
.info_3 p {
    padding-top: 10px;
    font-size: 14px;

    text-align: justify;
    text-justify: inter-ideograph;
}

.info_1 h3,
.info_2 h3,
.info_3 h3 {
    font-family: 'Josefin Sans', sans-serif;
    color: #889e39;
    border: 1px solid #a8c443;
    border-radius: 5px;
    margin-left: 173px;
    margin-top: 10px;
    padding: 7px;
}

.info_1 a,
.info_2 a,
.info_3 a {
    text-decoration: none;
}

/*.info_3 a:hover{
    color: indianred;
}*/

.footer {
    height: 180px;
    background: #222222;
    color: #e6dfdf;
}

.footer h3 {
    font-family: "Arial";
    font-size: 16px;
    text-align: left;
    padding-top: 40px;
}

.left h3,
.right h3 {
    height: 50px;
}

.left p {
    font-family: "Arial";
    font-size: 14px;
    text-align: left;
    line-height: 25px;
}

.left_text {
    margin-top: 0px;
}

.left {
    float: left;
    margin-right: 300px;
    margin-left: 350px;
}

.right {
    float: left;
}

.bottom {
    font-size: 12px;
    text-align: center;
    color: #afaaaa;
    height: 20px;
    padding: 10px 0 20px 0;
    background: #222222;
}

footer img {
    margin-right: 20px;
}
